.container {
    max-width: 600px;
    margin: auto;
    padding: 40px 70px;
    font-family: "Kanit", sans-serif;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2);;
}

.cart-item h5 {
    margin: 0;
}


.card-btn-cust{
    background-color: #333f2e;
    color: white;
    border: 1px solid #333f2e;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

  .card-btn-cust:hover{
    background-color: white;
    color: #333f2e;
    transition: 0.3s ease-in;
  }
