.footer {
    background-color: #333f2e;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    font-family: "Kanit", sans-serif;    overflow: hidden;
}

.footer-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1;
    padding: 40px 100px;
}

.footer-search{
    background-color: rgb(230, 230, 193);
    width: 70%;
    align-self: center;
    padding: 20px 20px;
    border-radius: 10px;
    color: #333f2e;
}

.search-cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redirects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 40px;
    text-decoration: none;
    flex: 0.7;
    padding: 40px 100px;
}
  
  .input-container {
      display: flex;
      justify-content: center;
  }
  
  ::placeholder {
    color: #757575;
    opacity: 1;
  }
  
  .search-input {
    background: #EEEEEE;
    color: #212121;
      vertical-align: middle;
    font-size: 12px;
    line-height: 2;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 -1px 1px -1px #CCCCCC, inset 0 1px 1px -1px #CCCCCC, inset 1px 0 1px -1px #CCCCCC;
  }
  
  .search-submit {
    background: #333f2e;
    color: #FFFFFF;
    vertical-align: middle;
    padding: 6px 20px;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }


    
@media (max-width: 768px) {
    .footer-one{
        padding: 40px;
    }

    .input-container{
      flex-direction: column;
    }
    
    .redirects{
        padding: 40px;
    }

    .search-input{
      width: 90%;
    }
    .search-submit{
      padding: 6px 10px;
    }
    

}
