body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.home-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* font-family: "Merriweather", serif; */

}

.card-holder {
    width: 280px;
    height: 440px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -120px;
  }

  .course-sec{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 80px 70px 0px 70px;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: white;
  }

  .courses{
    animation: slideIn 2s ease forwards;
    padding-left: 30px;
  }
  
  .card-holder img {
    width: 280px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .detail-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
  }

  .span-detial{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
  }

  .card-btn-cust{
    background-color: white;
    color: #333f2e;
    border: 1px solid #333f2e;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
  }

  .card-btn-cust:hover{
    background-color: #333f2e;
    color: white;
    transition: 0.3s ease-in;
  }

  .course-side-txt{
    font-weight: bold; 
    font-size: 40px;
  }


  .homehead{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 70px 0px 70px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/699/700/small/modern-and-minimal-pastel-color-geometric-shape-banner-design-halftone-dotted-pattern-decoration-light-green-angle-arrow-overlapping-layered-abstract-background-illustration-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .head-text{
    flex: 1;
  }

  .headtxt{
    font-size: 60px;
    font-weight: bold;
  }

  .head-img{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .headimg{
    animation: floating 2s ease-in-out;
    position: relative;
    transform: scale(1.2);
    padding-top: 30px;
  }

  .desc {
    margin-top: 20px;
  font-size: 24px;
  }


  .head-btn{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 20px 0px 40px 0px;
  }

  .head-button{
    background-color: #333f2e;
    padding: 13px 30px;
    text-decoration: none;
    color: white;
    border: 1px solid #333f2e;
    font-weight: 500;
  }

  .head-button:hover{
    background-color: white;
    color: #333f2e;
    transition: 0.5s;
  }

  .head-button-two{
    text-decoration: none;
    color: #333f2e;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .head-button-two:hover{
    transform: scale(1.07);
    transition: 0.5s;
    gap: 10px
  }

  @media (max-width: 768px) {
    .course-sec {
        flex-direction: column;
        align-items: center; 
        padding: 80px 30px 0px 30px;
        text-align: center;
    }

    .card-holder{
      top: 0px;
    }

    .courses{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .course-head{
      order: -1;
    }

    .homehead{
      padding: 30px 20px 0px 20px;
    }

    .headtxt{
      font-size: 45px;
      width: 100%;
    }

    .head-text{
      text-align: center;
    }

    .head-btn{
      gap: 15px;
    }

}

@media (max-width: 925px){
   .homehead {
        flex-direction: column;
    }
    .head-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .head-img{
      justify-content: center;
    }
    h1{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    article{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
} 

@keyframes slideIn {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0);
    }
}

@keyframes floating {
  from{
    transform: translateY(100%);
  }
  to {
    transform: translateY(40);
  }
}

@keyframes shift {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(40%);
  }
}

.pricing{
  width: 100%;
  padding: 0px 70px;
  text-align: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.text-accent {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.text-accent {
    color: #333f2e;
}

.fs-500 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 1rem;
}

.mb {
    margin-bottom: 0.5em;
}

.plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5em 0;
}

.plan {
    width: 16.5rem;
    padding: 2em;
    border-radius: 1em;
    margin: 0 0.5em 1em;
}

.plan--light {
    color: #4E4E4E;
    background: linear-gradient(-45deg, #E5E3E8, #FAFAFA);
}

.plan--light .plan-price {
    color: #333f2e;
}

.plan--light .btn {
    color: #FFF;
    background: #4E4E4E;
}

.plan--accent {
    color: #FFF;
    background: linear-gradient(-45deg, #333f2e, #4a7439);
}

.plan--accent .btn {
    color: #4E4E4E;
    background: #FFF;
}

.plan-title {
    text-transform: uppercase;
    margin: 0 0 1em;
}

.plan-price {
    margin: 0;
    font-size: 3rem;
    line-height: 1;
    font-weight: 900;
}

.plan-price span {
    display: block;
    font-size: 1.5625rem;
    font-weight: 300;
}

.plan-description-sec{
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
}

.btn {
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
    background-color: #333f2e;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.7;
}

.btn-mb {
    margin-bottom: 3em;
}

.btn--light {
    color: #4E4E4E;
    background: #FFF;
}

.btn--dark {
    color: #FFF;
    background: #4E4E4E;
} 